.container {
  width: 100%;
  padding: 10px 10px 10px 0;
  @include flex-arrange(space-between, flex-start);
  .mainWrapper {
    display: flex;
    width: 100%;

    .profileImage {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .contentWrapper {
      margin-left: 10px;
      @include comment-content;
      width: 100%;
      .userInfo {
        display: block;
        margin-bottom: 5px;

        .nickname {
          @include comment-nickname;
        }

        .timeAgo {
          @include font-style(1.1rem, gray, 400);
          margin-left: 5px;
        }
        .isMyId {
          @include font-style(1.5rem, red, 600);
          margin-left: 5px;
        }
        .deleteIcon {
          margin-left: 5px;
        }
      }
    }
  }
  .likeAction {
    position: absolute;
    right: 10px;
  }
}
