.container {
  width: 100%;
  position: relative;

  .maxVideo {
    margin-left: 15px;
    @include font-style(1.2rem, black, 500);
  }

  label {
    display: block;
    @include flex-arrange(center, center);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer; /* 클릭 가능한 영역 표시 */
  }

  .filetextInput {
    display: none;
  }

  .videoWrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    .videoBox {
      position: relative;
      width: 100%;
      max-width: 900px;
      overflow: visible;
      margin-top: 50px;

      .close {
        position: absolute;
        top: -35px;
        right: 0px;
        z-index: 6;
        cursor: pointer; /* 클릭 가능한 아이콘 표시 */
      }

      video {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }

  /* 새로운 선형 프로그레스 바 스타일 추가 */
  .progressWrapper {
    display: flex;
    align-items: center;
    margin-top: 20px; /* 프로그레스 바와 콘텐츠 사이의 간격 조정 */
  }

  .linearProgressBar {
    width: 100%;
    height: 10px;
    background-color: #d6d6d6;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
  }

  .progressBar {
    height: 100%;
    background-color: #38b6ff;
    width: 0%;
    transition: width 0.3s ease;
  }

  .progressText {
    font-size: 14px;
    color: #000;
  }
}
