.container {
  @include flex-arrange(space-between, center);
  flex-direction: column;
  width: 100%;
  background: white;
  margin-top: 5px;
  gap: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(215, 215, 215);
  border-width: 0.5px;
  cursor: pointer;

  .userWrapper {
    width: 100%;
    padding: 10px 10px 0 10px;
    @include flex-arrange(space-between, center);
    .userInfo {
      @include flex-arrange(center, flex-start);
      gap: 5px;
      .dateWrapper {
        @include flex-arrange(center, flex-start);
        flex-direction: column;
        span:nth-child(1) {
          @include font-style(1.4rem, black, 600);
          margin-bottom: 2px;
        }
        span:nth-child(2) {
          @include font-style(1.1rem, gray, 400);
        }
      }
    }
    img {
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .contentWrapper {
    width: 100%;
    @include flex-arrange(center, flex-start);
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
    flex-direction: column;
    gap: 8px;

    .iconWrapper {
      display: flex;
      gap: 5px;
    }

    .clearday {
      @include font-style(1.2rem, gray, 400);
      display: flex;
      flex-direction: column;

      .difficultyWrapper {
        display: inline-flex;
        align-items: center;
        gap: 4px;

        .color {
          width: 13px;
          height: 13px;
          border-radius: 50%;
        }

        .color-red {
          background-color: red;
        }

        .color-orange {
          background-color: orange;
        }

        .color-yellow {
          background-color: yellow;
        }

        .color-green {
          background-color: green;
        }

        .color-blue {
          background-color: blue;
        }

        .color-indigo {
          background-color: indigo;
        }

        .color-purple {
          background-color: purple;
        }

        .color-white {
          background-color: white;
          border: 1px solid black;
        }

        .color-gray {
          background-color: gray;
        }

        .color-black {
          background-color: black;
        }

        .color-pink {
          background-color: pink;
        }
        .color-brown {
          background-color: brown;
        }
      }
    }
  }

  .videoWrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    .videoBox {
      position: relative;
      width: 100%;
      max-width: 900px;
      overflow: hidden;

      video {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  pre {
    @include font-style(1.4rem, black, 400);
    width: 100%;
    padding: 0 10px 0 10px;
    height: auto;
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .commentWrapper {
    width: 100%;
    padding: 0 10px 10px 10px;
    .allComment {
      @include font-style(1.1rem, gray, 400);
    }

    .comment {
      margin-top: 5px;

      span:nth-child(1) {
        @include comment-nickname;
      }

      span:nth-child(2) {
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include comment-content;
      }
    }
  }
}
