.container {
  width: 100%;
  background: white;
  padding: 10px 10px;
  @include flex-arrange(space-between, flex-start);
  position: relative;
  .mainWrapper {
    display: flex;

    width: 100%;

    .profileImage {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .contentWrapper {
      margin-left: 10px;
      @include comment-content;
      .userInfo {
        display: block;
        margin-bottom: 5px;

        .nickname {
          @include comment-nickname;
        }

        .timeAgo {
          @include font-style(1.1rem, gray, 400);
          margin-left: 5px;
        }
        .isMyId {
          @include font-style(1.5rem, red, 600);
          margin-left: 5px;
        }
        .deleteIcon {
          margin-left: 5px;
        }
      }
      .replyButton {
        display: block;
        margin-top: 8px;
        @include font-style(1.1rem, gray, 400);
      }
    }
  }
}

// .outerContainer {
//   max-height: 400px; /* 필요에 따라 최대 높이를 설정하세요 */
//   overflow-y: auto; /* 스크롤 가능하게 설정 */
// }
