.container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  min-height: 100vh;
  background: white;
  border: 0.5px solid rgb(215, 215, 215);
  border-radius: 5px;

  .BtnStyles {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
