@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  padding: 40px 20px;
  background-color: white;
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;

  &.animate {
    animation: slideUp 1s ease-out forwards;
  }
}

.title {
  text-align: center;
  @include font-style(2.4rem, black, 600);
}

.subtitle {
  color: #858585;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
}

.cardGrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;

  &.animate {
    animation: slideUp 1.5s ease-out forwards;
  }
}

.cardWrapper {
  border-radius: 10px;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardImage {
  margin-bottom: 12px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.cardWrapper h3 {
  margin: 8px 0;
  @include font-style(1.8rem, black, 600);
}

.cardWrapper p {
  font-size: 14px;
  color: #ccc;
  @include font-style(1.4rem, #333d4b, 600);
}

@media (min-width: 768px) {
  .title {
    @include font-style(4rem, black, 600);
  }

  .cardGrid {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .title {
    @include font-style(6rem, black, 600);
    margin-bottom: 0;
  }

  .subtitle {
    @include font-style(2rem, #858585, 400);
  }

  .cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .cardWrapper {
    min-height: 320px;
    max-width: 340px;
    width: 100%;
    margin: 0 auto;

    h3 {
      @include font-style(2.5rem, black, 600);
    }

    p {
      @include font-style(1.8rem, #333d4b, 400);
    }
  }

  .cardWrapper.item1 {
    grid-column: 1;
    grid-row: 1;
  }

  .cardWrapper.item2 {
    grid-column: 2;
    grid-row: 1;
  }

  .cardWrapper.item3 {
    grid-column: 2;
    grid-row: 2;
  }

  .cardWrapper.item4 {
    grid-column: 1;
    grid-row: 2;
  }
}
