.container {
  min-height: 100vh;

  //main-nav
  .header-container {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .secContainer {
    display: flex;
  }

  .content {
    margin-left: 220px; /* Sidebar 너비만큼 여백 */
    padding: 80px 20px 20px 20px; /* Header 높이만큼 여백 */
    flex: 1;
    overflow-y: auto;
    background: rgb(247, 244, 244);
    min-height: 100vh;
  }
  .noSideBarContent {
    margin-left: 0;
    padding: 0;
  }
}
