.container {
  background: rgb(247, 244, 244);
  min-height: 100vh;
  .header-container {
    position: sticky;
    z-index: 10;
    background: rgb(247, 244, 244);
    transition: top 0.5s ease-in-out;

    &.up {
      top: 0px; /* 스크롤을 올릴 때도 상단에 고정 */
    }

    &.down {
      top: -120px; /* 스크롤을 내릴 때도 상단에 고정 */
    }
  }

  .secContainer {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
  }
}
