.container {
  @include flex-arrange(center, center);
  flex-direction: column;
  background: rgb(247, 244, 244);
  width: 100%;
  padding-top: 40px;
  .signInForm {
    width: 80%;
    @include flex-arrange(center, center);
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  span {
    @include font-style(1.1rem, black, 400);
  }
}
