.container {
  width: 100%;
  background: white;
  margin: 5px 0;
  @include flex-arrange(center, center);
  gap: 10px;
  top: 0;
  background: rgb(247, 244, 244);

  .glass {
    position: absolute;
    top: 13px;
    right: 10px;
  }
}
