.btnStyle {
  width: 100%;
  height: 30px;
  background: rgb(230, 222, 222);
  border-radius: 5px;
  padding: 0 8px;
  font-size: 1.2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .profileWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;

    .profileImage {
      width: 100%;
      height: auto;
      border-radius: 50%;
      max-width: 150px;
      max-height: 150px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .btnWrapper {
      display: flex;
      gap: 10px;

      .profileEdit {
        @extend .btnStyle;
        @include flex-arrange(center, center);
        @include font-style(1.2rem, black, 400);
      }

      .oauth {
        @extend .btnStyle;
        @include flex-arrange(flex-start, center);
        span {
          margin: auto;
        }
      }
      .oauth-kakao {
        background: #f7e600;
      }
      .oauth-naver {
        background: #03c75a;
        color: white;
      }
      .oauth-dapji {
        background: white;
        color: #39b8ff;
      }
    }

    .followWrapper {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      .follower,
      .following {
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-child(1) {
          margin-bottom: 5px;
          @include font-style(1.3rem, black, 500);
        }
        span:nth-child(2) {
          @include font-style(1.8rem, black 500);
        }
      }
    }
  }
  .textWrapper {
    @include font-style(1.2rem, rgba(42, 41, 41), 400);
    white-space: pre-wrap;
    word-break: break-word;
  }
}
