.customInput {
  padding: 5px 10px 10px 10px;
  height: 80px;
  width: 100%;
  background: white;
  @include flex-arrange(center, center);
  input {
    border: 1px solid rgb(171, 165, 165, 0.4) !important;
    width: 100%;
  }

  .iconWrapper {
    border-radius: 50%;
    background: rgb(118, 185, 228, 0.3);
    width: 30px;
    height: 30px;
    @include flex-arrange(center, center);
    margin: 2px;
    position: absolute;
    right: 12px;
    top: 20px;
  }
  .toggleWrapper {
    width: 20%;
    padding-right: 6px;
  }
}

.tagNameInput {
  padding-top: 30px;
  height: 100px;
  .tagNickname {
    width: 100%;
    @include flex-arrange(flex-start, center);
    position: absolute;
    top: 10px;
    left: 15px;
    span:nth-child(1) {
      display: block;
      margin-right: 10px;
      @include font-style(1.1rem, balck, 500);
    }
  }
  .iconWrapper {
    top: 43px;
  }
}
