.container {
  width: 100%;
  height: 100vh;
  background: rgb(247, 244, 244);
  overflow-y: scroll;
  padding: 30px 10px 50px 10px;
  @include flex-arrange(flex-start, center);
  flex-direction: column;
  header {
    width: 100%;
    @include flex-arrange(center, center);
    flex-direction: column;
    h1 {
      @include font-style(2.5rem, black, 600);
      margin-bottom: 5px;
      margin-top: 20px;
    }
    .back {
      @include font-style(1.3rem, black, 400);
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
    }
  }

  h2 {
    @include font-style(2.5rem, black, 400);
    margin-bottom: 5px;
    margin-top: 26px;
  }

  .warnLists {
    width: 100%;
    max-width: 340px;
    padding: 10px 0;
    @include font-style(1.4rem, black, 400);
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 10px;

    li {
      margin-bottom: 10px;
      width: 100%;
    }

    li:nth-child(4) {
      display: flex;
      align-items: center;
      gap: 3px;
      strong {
        @include font-style(1.2rem, red, 400);
      }
    }
  }
}

.container::-webkit-scrollbar {
  display: none;
}
