.outerContainer {
  width: 100%;
}

.container {
  width: 100%;
  height: 60px;
  @include flex-arrange(space-between, center);
  margin: 5px 0;
  cursor: pointer;

  padding: 35px 10px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
  .infoWrapper {
    @include flex-arrange(center, center);
    gap: 10px;
    .profileImage {
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    span:nth-child(2) {
      @include font-style(1.4rem, black, 600);
    }
  }
}
