.outerContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  justify-content: start;
  @include font-style(1.6rem, black, 400);
  .emptyMessage {
    @include font-style(1.6rem, black, 400);
    margin-top: 40px;
    text-align: center;
    width: 100%;
    grid-column: 1 / -1;
  }
}

.container {
  background-color: white;
  padding: 10px 5px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  .image {
    width: 100%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 25%;
  }

  .textWrapper {
    text-decoration-line: none;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    .post_count {
      @include font-style(1.1rem, grey, 400);
    }
    @media (min-width: 769px) {
      .post_count {
        @include font-style(1.3rem, grey, 400);
      }
    }
  }
}
