.outerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  padding: 10px;

  .holdText {
    display: none;
  }

  .innerContainer {
    display: inline-flex;
    white-space: nowrap;
    gap: 8px;
  }

  @media (min-width: 769px) {
    .holdText {
      @include font-style(1.2rem, black, 500);
      padding: 0 10px;
      display: block;
    }
  }
}
.outerContainer::-webkit-scrollbar {
  display: none;
}
