.container {
  @include flex-arrange(flex-end, center);
  flex-direction: column;
  height: 100%;

  .contentWrapper {
    @include flex-arrange(center, center);
    flex-direction: column;
    margin-bottom: 40px;
    p {
      @include font-style(1.4rem, black, 500);
      margin: 0;
    }
  }

  .btnWrapper {
    width: 100%;
    display: flex;
  }
}

// .upload-modal {
//   background-color: transparent; /* 백그라운드 컬러를 투명하게 변경 */
//   border: none; /* 외곽선을 없앰 */
//   font-weight: bold; /* 글씨를 두껍게 */
// }
