.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  cursor: pointer;

  .noSearchData {
    @include font-style(1.5rem, black, 400);
    text-align: center;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
