.container {
  @include flex-arrange(flex-start, center);
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 50px 0 50px;
  border-radius: 5px;
  border: 0.5px solid rgb(215, 215, 215);
  height: 100vh;
  background: white;

  .loginContaienr {
    width: 100%;
    @include flex-arrange(space-around, center);
    flex-direction: column;
    .loginheader {
      @include flex-arrange(center, center);
      flex-direction: column;
      .headerText {
        @include font-style(1.5rem, #38b6ff, 500);
      }
    }
  }
  .oauthContaienr {
    width: 100%;
    gap: 10px;
    @include flex-arrange(center, center);

    flex-direction: column;

    .oauth {
      @include font-style(1.3rem, gray, 400);
      display: flex;
      align-items: center;
      text-align: center;
      width: 100%;
      &::before,
      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: #d3d3d3;
        margin: 0 10px;
      }
    }
  }
  .gymRouter {
    @include font-style(1.5rem, gray, 400);
    cursor: pointer;
    text-decoration: underline;
  }
}
