.container {
  @include flex-arrange(center, center);
  @include font-style(1.4rem, white, 700);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  gap: 10px;
  .icon {
    @include flex-arrange(center, center);
  }
}
