.container {
  padding: 10px;
  @include flex-arrange(flex-start, center);
  flex-direction: column;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 100vh;
  gap: 20px;
  padding-top: 150px;
  // background-color: #f6f4f4;

  h1 {
    @include font-style(3rem, black, 400);
  }
}
