.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(247, 244, 244);
  padding-bottom: 80px;

  .header-container {
    position: sticky;
    top: 60px; /* 스크롤 시 항상 화면 상단에 고정 */
    z-index: 1;
    background: linear-gradient(to right, #171a27, #282c3e);
    transition: top 0.5s ease-in-out;

    &.up {
      top: 0px; /* 스크롤을 올릴 때도 상단에 고정 */
    }

    &.down {
      top: -120px; /* 스크롤을 내릴 때도 상단에 고정 */
    }
  }
  .secondContainer {
    padding: 0 10px 10px 10px;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
