.container {
  width: 100%;
  height: 100vh;
  background: rgb(247, 244, 244);
  overflow-y: scroll;

  .secondContainer {
    margin-top: 80px;
    padding: 0 10px 10px 10px;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
