.outerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  background: white;
  border-radius: 5px;
  padding: 10px;
  border: 0.5px solid rgb(215, 215, 215);

  .holdText {
    @include font-style(1.5rem, balck, 500);
    padding: 0 10px;
  }
  .innerContainer {
    display: flex;
    white-space: nowrap;
    gap: 5px;
  }
}
.outerContainer::-webkit-scrollbar {
  display: none;
}
