.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-top: 20px;
  .header {
    max-width: 500px;
    flex-direction: column;
    @include flex-arrange(center, center);
    gap: 10px;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
