.container {
  @include flex-arrange(flex-start, center);
  flex-direction: column;
  gap: 10px;

  height: 100vh;
  background: rgb(247, 244, 244);
  padding: 150px 10px 10px 10px;

  .signUpForm {
    width: 100%;
    @include flex-arrange(center, center);
    flex-direction: column;
    gap: 10px;
  }
}
