.container {
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 10px;
  .boardDetailHeader {
    @include flex-arrange(space-between, center);

    .userInfo {
      @include flex-arrange(center, center);
      gap: 10px;

      .profileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
        cursor: pointer;
      }
      .userText {
        @include flex-arrange(center, flex-start);
        flex-direction: column;
        gap: 2px;
        .category {
          @include font-style(1.1rem, gray, 400);
        }
        .nicknameWrapper {
          span:nth-child(1) {
            @include font-style(1.4rem, black, 600);
            margin-right: 5px;
          }

          span:nth-child(2) {
            @include font-style(1.1rem, gray, 400);
          }
        }
      }
    }
  }

  .mainWrapper {
    margin-top: 30px;
    .textWrapper {
      margin-bottom: 30px;
      white-space: nowrap;

      h1 {
        @include font-style(1.8rem, black, 600);
        margin-bottom: 20px;
      }
      .contentWrapper {
        @include font-style(1.4rem, black, 400);
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
    .boardImage {
      width: 60%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }

  .iconWrapper {
    @include flex-arrange(flex-start, center);
    gap: 12px;
    margin-top: 15px;
    cursor: pointer;
  }
}

.hasComment {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(160, 154, 154, 0.5);
}
