.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  margin-top: 10px;
  .mainWrapper {
    width: 100%;
    margin-top: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;

    .header {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px;

      .image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ccc;
      }

      .nickname {
        width: 100px;
        height: 16px;
        background-color: #ccc;
        border-radius: 4px;
      }
    }

    .video {
      width: 100%;
      aspect-ratio: 16/9;
      background-color: #ccc;
      margin-bottom: 12px;
      position: relative;

      .indicator {
        position: absolute;
        bottom: 8px;
        right: 8px;
        display: inline-flex;
        gap: 4px;
        background: rgba(0, 0, 0, 0.2);
        padding: 4px 6px;
        border-radius: 999px;

        span {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 10px;

      .icons,
      .meta,
      .date {
        height: 12px;
        background-color: #ccc;
        border-radius: 4px;
      }

      .icons {
        width: 60px;
      }
      .meta {
        width: 40%;
      }

      .date {
        width: 30%;
      }
    }
  }
}
