.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .iconWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    @include font-style(1.5rem, rgb(36, 34, 34), 600);
    p {
      margin: 5px 0 0 0;
    }
    .icon {
      padding-bottom: 15px;
    }

    .underline {
      position: absolute;
      bottom: -2px;
      height: 2px;
      width: 50%;
      background-color: black;
      transition: left 0.3s ease;
    }
  }
  .empty-message {
    @include font-style(1.5rem, black, 500);
    margin-top: 50px;
  }
}
